In [2]:
import pandas as pd 

df = pd.read_csv(r'C:\Users\Gamer PC\Desktop\Behavioral-Health-Risk-Factor-Prediction-Model-for-Diabetes\resources\SELECTED_diabetes_binary_5050split_health_indicators_BRFSS2021.csv')

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67136 entries, 0 to 67135
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       67136 non-null  float64
 1   HighBP                67136 non-null  int64
 2   HighChol              67136 non-null  float64
 3   CholCheck             67136 non-null  int64
 4   BMI                   67136 non-null  float64
 5   Smoker                67136 non-null  float64
 6   Stroke                67136 non-null  float64
 7   HeartDiseaseorAttack  67136 non-null  float64
 8   PhysActivity          67136 non-null  int64
 9   Fruits                67136 non-null  int64
 10  Veggies               67136 non-null  int64
 11  HvyAlcoholConsump     67136 non-null  int64
 12  AnyHealthcare         67136 non-null  int64
 13  NoDocbcCost           67136 non-null  float64
 14  GenHlth               67136 non-null  float64
 15  MentHlth              67136 non-null  float64
 16  PhysHlth              67136 non-null  float64
 17  DiffWalk              67136 non-null  float64
 18  Sex                   67136 non-null  int64
 19  Age                   67136 non-null  int64
 20  Education             67136 non-null  float64
 21  Income                67136 non-null  float64
dtypes: float64(13), int64(9)
memory usage: 11.3 MB

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1,0.0,1,33.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,15.0,0.0,1.0,1,7,6.0,9.0
1,0.0,0,1.0,1,27.0,1.0,0.0,0.0,1,0,...,1,0.0,2.0,1.0,2.0,0.0,1,7,6.0,6.0
2,0.0,0,1.0,1,26.0,1.0,0.0,0.0,0,0,...,1,0.0,3.0,0.0,30.0,0.0,1,13,4.0,3.0
3,0.0,0,0.0,1,19.0,1.0,0.0,0.0,1,1,...,1,0.0,3.0,0.0,0.0,0.0,0,11,5.0,7.0
4,0.0,1,0.0,1,37.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,0.0,0.0,0.0,0,5,5.0,3.0

In [5]:
print(df.isnull().sum())

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [16]:
columns = df.columns.tolist()
columns.remove('Age')
columns.insert(1, 'Age')

df = df[columns]
df.head()

,Diabetes_binary,Age,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,...,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Education,Income
3,0.0,11,0,0.0,1,19.0,1.0,0.0,0.0,1,...,0,1,0.0,3.0,0.0,0.0,0.0,0,5.0,7.0
4,0.0,5,1,0.0,1,37.0,0.0,0.0,0.0,1,...,0,1,0.0,2.0,0.0,0.0,0.0,0,5.0,3.0
8,0.0,3,0,0.0,1,22.0,0.0,0.0,0.0,1,...,0,1,0.0,3.0,7.0,0.0,0.0,0,6.0,7.0
11,0.0,8,0,0.0,1,21.0,1.0,0.0,0.0,1,...,0,1,0.0,2.0,5.0,0.0,0.0,0,6.0,9.0
13,0.0,10,0,0.0,1,32.0,1.0,0.0,0.0,1,...,0,1,0.0,2.0,4.0,0.0,0.0,0,6.0,8.0